@charset "UTF-8";
*{
    margin: 0px auto;
    padding: 0px;
    color: #000000;
    list-style: none;
    box-sizing: border-box;
    font-family: "Neue Haas Unica", sans-serif;
    font-stretch: 100%;
    font-weight: 400;
    font: mLbyONA9, sans-serif;
}
a{
    text-decoration: none;
    display: block;
    color: inherit;
}
img{
    border: 0px;
}
body{
    width: 1440px;
    height: 1350px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
#head{
    width: 100%;
    height: 150px;
    float: left;
}
.logo{
    width: 400px;
    height: 150px;
    float: left;
    position: relative;
}
.logo img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 725px;
    height: 309px;
    width: 50%;
    height: 50%;
}
.nav{
    margin-top: 30px;
    width: 250px;
    height: 75px;
    float: right;
    z-index: 9;
}
.nav>li{
    width: 80px;
    height: 75px;
    float: left;
    font-size: 25px;
    margin: 5px 10px;
    text-align: center;
    line-height: 55px;
}
.nav>li:hover{
    color: rgba(0, 0, 0, 0.5);
}

.nav img{
    width: 60px;height: 60px;
}

#contents {
    width: 100%;
    height: 1000px;
    overflow: hidden;
    float: left;
    position: relative;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.cart-container{
    position: absolute;
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
h1{
    font-size: 3em;
    font-weight: bold 200;
    margin: 20px 50px;
}
.list{
    width: 80%;
    height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.add{
    width: 100%;
    height: 70%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.text{
    width: 100%;
    height: 100px;
    float: left;
}
.text li{
    width: 50%;
    height: 100%;
    float: left;
    }
.SUBTOTAL{
    font-size: 2em;
    padding-top: 25px;
}
.price{
    font-size: 2em;
    text-align: right;
    padding-top: 25px;
}
button{
    text-align: center;
    width: 70%;
    height: 80px;
    margin: 0px auto;
    margin: 0px 15%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-size: 2.4em;
    border: none;
    background-color: rgba(0, 0, 0, 0.2);
}
button:hover{
    background-color: rgba(112, 112, 112, 0.1);
}
/*
background-color: #fff;
width: 70%;
height: 90%;
padding: 40px;
border-radius: 10px;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
text-align: center; */
text li{
    width: 50%;
    height: 100%;
}
#foot{
    width: 100%;
    float: left;
    height: 200px;
}
.imformation{
    width: 25%;
    height: 200px;
    float: left;
    text-align: left;
}
.imformation li{
    padding-left: 15px;
    line-height: 38px;
}
.copyright{
    width: 50%;
    height: 200px;
    float: left;
    line-height: 250px;
    text-align: center;
    font-size: 1.2em;
}
.guide{
    width: 25%;
    height: 200px;
    float: left;
    text-align: right;
    margin-top: 20px;
}
.guide li{
    line-height: 38px;
    padding-right: 15px;
}